.about-us-page {
  margin: 2rem;
  overflow: hidden;
}

.about-us-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.about-us-left {
  background-color: #F5F5F7;
  padding: 3rem;
  border-radius: 2rem;
}

.about-us-right {
  padding: 3rem;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.section-title2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section-description {
  margin-bottom: 20px;
}

.owner-image {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.owner-title {
  text-align: center;
}

.testimonial-section {
  margin-top: 4rem;
}

.testimonial-section h2 {
  text-align: center;
}

.slider-div {
  overflow: hidden;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.testimonial-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


@media (max-width: 575px) {
  .about-us-section {
    grid-template-columns: 1fr;
  }

  .about-us-left {
    order: 1;
    padding: 2rem;
    padding-top: 1rem;
  }

  .about-us-right {
    order: 2;
  }


}
  
  