.card {
    width: 250px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
  }
  
  .content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    text-align: center;
  }
  
  .content h2 {
    margin-top: 0;
  }
  
  .content p {
    margin-bottom: 0;
  }
  