.footer {
  background-color: black;
  color: white;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 370px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row2 {
  display: flex;
  justify-content: space-evenly;
  margin-right: 100px;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

.cp {
  display: flex;
  margin-left: 40%;
}

h1 {
  font-size: 22px;
}

.cardscontainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  height: 300px;
  padding: 20px;
  text-align: center;
}

.img {
  width: 260px;
  height: 50px;
}

.Follow {
  margin-left: 40px;
}

.policy {
  margin-left: 40px;
  text-align: end;
  margin-top: 30px;
}
