@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200..1000&family=Inter:wght@400;600;700&display=swap');
/* Landing Section */
.home {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.landing {
  position: relative;
}

.landing-image img {
  width: 100%;
}

.landing-image h1 {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6rem;
  text-align: center;
}

.landing-image h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1em;
  text-align: center;
  font-weight: 100;
}

.view-more-btn {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-more-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/* Services Section */
.services-section {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.services h2 {
  margin-bottom: 3rem;
}

.service-cards-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service-card-home {
  width: 25%;
  height: 60vh;
  background-image: url("../assets/bat_repair.png");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.service-card-home h3 {
  color: white;
}

.service-card-home2 {
  width: 25%;
  height: 60vh;
  background-image: url("../assets/Delivery.png");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card-home2 h3 {
  color: white;
}

.service-card-home3 {
  width: 25%;
  height: 60vh;
  background-image: url("../assets/maintain.png");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card-home3 h3 {
  color: white;
}

/* Partners Section */
.partners {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.partners h2 {
  margin-bottom: 20px;
}

.slider-div {
  overflow: hidden;
  margin-top: 5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

.partner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo img {
  max-width: 12vw;
  /* max-height: 40%; */
}

/* Contact Section */
.contact {
  background-image: url("../assets/googlemap.png");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-self: center;
  flex-direction: column;
  min-width: 30vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 20px;
  border-radius: 1rem;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  margin-right: 2rem;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.map {
  /* height: 450px; */
  overflow: hidden;
  display: flex;
  justify-self: center;
  flex-direction: column;
  min-width: 40vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 20px;
  border-radius: 1rem;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Footer */
.footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #6c757d;
}

@media (max-width: 575px) {
  .home {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .landing-image h1 {
    font-size: 2.5em;
  }

  .landing-image h3 {
    top: 60%;
    font-size: 1em;
  }

  .view-more-btn {
    bottom: 30px;
  }

  .landing-image img {
    width: 190%;
    height: auto;
    object-fit: fill;
  }

  .service-cards-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-card-home {
    margin-top: 2rem;
    width: 60%;
    height: 40vh;
    margin-bottom: 2rem;
  }

  .service-card-home2 {
    margin-top: 2rem;
    width: 60%;
    height: 40vh;
    margin-bottom: 2rem;
  }

  .service-card-home3 {
    margin-top: 2rem;
    width: 60%;
    height: 40vh;
    margin-bottom: 2rem;
  }

  .partner-logo img {
    max-width: 20vw;
    /* max-height: 40%; */
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    margin: 2rem;
  }

  .map {
    margin-top: 1rem;
  }

  .map iframe {
    height: 30vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .home {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .landing-image h1 {
    font-size: 3.5em;
  }

  .landing-image h3 {
    top: 60%;
    font-size: 1em;
  }

  .partner-logo img {
    max-width: 15vw;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-form {
    margin: 2rem;
  }

  .map {
    margin-top: 1rem;
  }

  .map iframe {
    height: 30vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .landing-image h1 {
    font-size: 3.5em;
  }
  
  .landing-image h3 {
    top: 60%;
    font-size: 1em;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .landing-image h3 {
    top: 60%;
  }
}