/* NewsPage.css */
.news-container {
    overflow: hidden;
    margin: 20px;
    padding: 0;
    min-height: 100vh;
    
  }
  
  .news-container h1 {
    font-size: 24px;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .news-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding-bottom: 1rem;
    max-width: 90vw;
    background-color: #F5F5F7;
    transition: box-shadow 0.3s;
  
  }
  
  .news-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .news-item img {
    width: 20vw;
    height: auto;
    max-height: 50vh;
    margin-right: 2rem;
    background-size: cover;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
  .news-item h2 {
    text-align: left;
    /* margin: 0; */
    margin-left: 1rem;
  }
  
  .news-item p {
    margin: 1rem;
    text-align: left;
  }

  .news-desc {
    text-align: justify;
  }
  
  .btn-read {
    margin-top: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.6rem;
  }
  
  .news-item button:hover {
    background-color: #4d4c4c;
  }
  
  
  @media (max-width: 575px) {
    .news-item {
      flex-direction: column;  
      max-width: 70vw;
      margin-bottom: 2rem;
    }

    .news-item img {
      margin-right: 0;
      width: 100%;
      margin: 0;
    }

    .news-item h2 {
      margin: 1rem;
      text-align: left;
    }

    .news-desc {
      margin: 1rem;
      /* overflow: hidden; */
    }

  }
    
  @media (min-width: 576px) and (max-width: 767px) {
    .news-item {
      flex-direction: column;  
      max-width: 70vw;
      margin: 0;
      margin-bottom: 2rem;
    }

    .news-item img {
      margin-right: 0;
      width: 100%;
      margin: 0;
    }

    .news-item h2 {
      margin: 1rem;
      text-align: left;
    }
  }
    