.services-page {
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.page-title {
    font-size: 24px;
    margin-bottom: 2rem;

}

.page-description {
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}

.service-card { 
    margin-bottom: 2rem;
}

