.services-page {
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.page-title {
    font-size: 24px;
    margin-bottom: 2rem;

}

.page-description {
    margin-bottom: 3rem;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-card { 
    margin-bottom: 2rem;
}


@media (max-width: 575px) {
    
}
  
@media (min-width: 576px) and (max-width: 767px) {

}
  