.service-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 25vw;
    margin: 10px;
    border-radius: 1rem;
    background-color: #F5F5F7;
    margin: 0.2rem;
}

.card-image img{
    width: 300px;
    height: 300px;
    border-radius: 1rem;
}

.card-title {
    font-weight: bold;
}

.card-description p {
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    color: rgb(0, 0, 0);
    text-align: justify;
}

@media (max-width: 575px) {
    .card-image img{
        width: 60vw;
        height: auto;
    }

    .service-card {
        max-width: 60vw;
    }

    .card-description p {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
  
@media (min-width: 576px) and (max-width: 767px) {
    .service-card {
        max-width: 50vw;
    }

    .card-image img{
        width: 50vw;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1799px) {
    .service-card {
        max-width: min-content;
    }
}

