.container {
    display: block;
    margin: 2rem;
}

.topic {
    text-align: center;
    margin-bottom: 2rem;
}

.div-btn {
    display: flex;
    width: 10vw;
    background-color: black;
}

.filter-icon {
    color: white;
    width: 2vw;
}

.service-card-container{
    display: flex;

}