.testimonial-card {
  width: 70%;
  height: 50vh;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  background-color: black;
  padding: 1rem;
}

.testimonial-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 10px;
}

.testimonial-person {
  margin-left: 1rem;
}

.testimonial-person h4{
  margin: 0;
  margin-top: 0.5rem;
  text-align: left;
  font-weight: 400;
}

.testimonial-image {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial-name {
  margin: 0;
  text-align: left;
}

.testimonial-description {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}


@media (max-width: 575px) {
  .testimonial-card {
    width: 95%;
    height: 40vh;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .testimonial-card {
    width: 60%;
    height: 50vh;
  }
}
