.testimonial-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-left: 3rem;
    margin-right: 3rem;
}

@media (max-width: 768px) {
    .testimonial-slider {
        flex-wrap: nowrap; 
    }
}
